<div class="{{ styles.demoContainer }}">
    <div class="{{ styles.demoImage }}">
        <div class="{{ styles.imageCard }}">
            <img src="{{ imagePath }}/logo_min.png" alt="">
        </div>
    </div>
    <div class="{{ styles.demoText }}">
        <div class="{{ styles.demoWidgetName }}">
            {{ widgetName }}
        </div>
        <div class="{{ styles.demoDescription }}">
            {{ text }}
        </div>
    </div>
    <div class="{{ styles.demoAside }}">
        <img src="{{ imagePath }}/dots.svg" alt="">
    </div>
    <div class="{{ styles.demoPay }} {{ styles.hidden }}">
        <div class="{{ styles.demoPayment }}">Оплатить</div>
        <div class="{{ styles.demoLater }}">Напомнить позже</div>
    </div>
</div>