<div class="{{ styles.ratingWrapper }}">
    <div class="{{ styles.cross }}">
        <img src="{{ imagePath }}/cross.svg">
    </div>
    <div class="{{ styles.ratingImage }}">
        <div class="{{ styles.imageCard }}">
            <img src="{{ imagePath }}/logo_min.png" alt="">
        </div>
    </div>
    <div class="{{ styles.ratingInner }}">
        <div class="{{ styles.ratingBold }}">
            {{ widgetName }}
        </div>
        <div class="{{ styles.ratingDescription }}">
            {{ description }}
        </div>
        <div class="{{ styles.ratingStars }}">
            <svg width="34" height="33" viewBox="0 0 34 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.0993 0.741211L21.044 12.8818H33.8094L23.482 20.3851L27.4267 32.5257L17.0993 25.0224L6.77189 32.5257L10.7166 20.3851L0.389204 12.8818H13.1546L17.0993 0.741211Z"
                      fill="#E3ECF8"/>
            </svg>

            <svg width="34" height="33" viewBox="0 0 34 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.0993 0.741211L21.044 12.8818H33.8094L23.482 20.3851L27.4267 32.5257L17.0993 25.0224L6.77189 32.5257L10.7166 20.3851L0.389204 12.8818H13.1546L17.0993 0.741211Z"
                      fill="#E3ECF8"/>
            </svg>
            <svg width="34" height="33" viewBox="0 0 34 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.0993 0.741211L21.044 12.8818H33.8094L23.482 20.3851L27.4267 32.5257L17.0993 25.0224L6.77189 32.5257L10.7166 20.3851L0.389204 12.8818H13.1546L17.0993 0.741211Z"
                      fill="#E3ECF8"/>
            </svg>

            <svg width="34" height="33" viewBox="0 0 34 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.0993 0.741211L21.044 12.8818H33.8094L23.482 20.3851L27.4267 32.5257L17.0993 25.0224L6.77189 32.5257L10.7166 20.3851L0.389204 12.8818H13.1546L17.0993 0.741211Z"
                      fill="#E3ECF8"/>
            </svg>

            <svg width="34" height="33" viewBox="0 0 34 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.0993 0.741211L21.044 12.8818H33.8094L23.482 20.3851L27.4267 32.5257L17.0993 25.0224L6.77189 32.5257L10.7166 20.3851L0.389204 12.8818H13.1546L17.0993 0.741211Z"
                      fill="#E3ECF8"/>
            </svg>

        </div>
        <div class="{{ styles.ratingSpinner }} {{ styles.hidden }}">
            <div class="{{ styles.ldsRing }}"><div></div><div></div><div></div><div></div></div>
        </div>
        <div class="{{ styles.ratingThanks }}">
            Будем признательны за вашу оценку!
        </div>
    </div>
</div>