<div class="{{ styles.thanksWrapper }}">
    <div class="{{ styles.cross }}">
        <img src="{{ imagePath }}/cross.svg">
    </div>
    <div class="{{ styles.thanksImage }}">
        <img src="{{ imagePath }}/success.svg">
    </div>
    <div class="{{ styles.thanksRight }}">
        <div class="{{ styles.thanksBadText }}">
            Спасибо за вашу оценку!
        </div>
        <div class="{{ styles.thanksReason }}">
            Если Вы поделитесь причинами, мы сможем сделать виджет лучше.
        </div>
        <div>
            <span class="{{ styles.thanksLink }}">Описать причину</span>
        </div>
    </div>
</div>