<div class="{{ styles.thanksWrapper }}">
    <div class="{{ styles.cross }}">
        <img src="{{ imagePath }}/cross.svg">
    </div>
    <div class="{{ styles.thanksImage }}">
        <img src="{{ imagePath }}/success.svg">
    </div>
    <div class="{{ styles.thanksRight }}">
        <div class="{{ styles.thanksText }}">
            Спасибо за вашу оценку!
        </div>
        <div>
            <span class="{{ styles.thanksLink }}">Оставить отзыв в маркетплейсе</span>
        </div>
    </div>
</div>