<div class="{{ styles.errorValidationWrapper }}">
    <div class="{{ styles.cross }}">
        <img src="{{ imagePath }}/cross.svg">
    </div>
    <div class="{{ styles.errorImage }}">
        <div class="{{ styles.imageCard }}">
            <img src="{{ imagePath }}/logo_min.png">
        </div>
    </div>
    <div class="{{ styles.errorText }}">
        {{ text }}
    </div>
</div>