<div class="{{ styles.reportWrapper }}">
    <div class="{{ styles.cross }}">
        <img src="{{ imagePath }}/cross.svg">
    </div>
    <div class="{{ styles.successImage }}">
        <img src="{{ imagePath }}/success.svg">
    </div>
    <div class="{{ styles.errorReportText }}">
        Отчет об ошибке успешно отправлен
    </div>
</div>