<div class="{{ styles.dpWrapper }}">
    {% if helpRef %}
        <div class="{{ styles.helpRef }}">
        <a href="{{ helpRef }}" target="_blank">
            <img src="{{ icon_link }}/question.svg" alt="">
        </a>
    </div>
    {% endif %}
    <div class="{{ styles.dpText }}">
        Виджет настраивается как триггер в цифровой воронке продаж. Перейдите в настройки необходимой воронки, и нажмите кнопку «добавить триггер». В поисковой строке открывшегося окна, введите название виджета и нажмите кнопку «добавить»
    </div>
</div>