<li data-id="{{ id }}">
    <img src="{{ folder }}/imgFile.svg">
    <span class="{{ style.fileName }}">{{ name }}</span>
    <span class="{{ style.fileRemove }}"><img src="{{ folder }}/x.svg"></span>
</li>