<div class="{{ style.partnerSubscriptionBlock }}">
    <div class="{{ style.partnerBlockContact }}">
        <div class="{{ style.partnerBlockContactTitle }}">
            <span>«{{ name }}»</span>
        </div>
        <div class="{{ style.partnerBlockContactText }}">
            <img src="{{ icon_link }}/globe.svg">
            <span>qwerty.ru</span>
        </div>
        <div class="{{ style.partnerBlockContactText }}">
            <img src="{{ icon_link }}/mail.svg">
            <span>
                <a href="mailto:{{ mail }}">{{ mail }}</a>
            </span>
        </div>
        <div class="{{ style.partnerBlockContactText }}">
            <img src="{{ icon_link }}/phone.svg">
            <span>{{ phones }}</span>
        </div>
    </div>
    <div class="{{ style.partnerBlockInfo }}">
        Ваш интегратор, “{{ name }}”, является нашим партнером.
        При возникновении сложностей, обратитесь в
        поддержку “{{ name }}”: <br>
        <a href="mailto:{{ mail }}">{{ mail }}</a>
    </div>
</div>