<div class="{{ styles.settingsWrapper }}">{% if helpRef %}<div class="{{ styles.helpRef }}"><a href="{{ helpRef }}" target="_blank"><img src="{{ icon_link }}/question.svg" alt=""></a></div>{% endif %}<div class="{{ styles.field }}">        <div class="{{ styles.label }}">            <span>ttt</span>        </div>        <div class="{{ styles.value }}">{{ widget.render({ ref: '/tmpl/controls/input.twig' }, {
name:"input",
value:inputValue,
})  }}  </div>
    </div><div class="{{ styles.field }}">        <div class="{{ styles.label }}">            <span>aaa</span>        </div>        <div class="{{ styles.value }}">{{ widget.render({ ref: '/tmpl/controls/checkbox.twig' }, {
name:"checkbox",
checked:checkboxValue,
})  }}  </div>
    </div><div class="{{ styles.field }}">        <div class="{{ styles.label }}">            <span>иии</span>        </div>        <div class="{{ styles.value }}">{{ widget.render({ ref: '/tmpl/controls/checkboxes_dropdown.twig' }, {
items:dropdownList,
name:"drop",
})  }}  </div>
    </div><div class="{{ styles.field }}">        <div class="{{ styles.label }}">            <span>aaa</span>        </div>        <div class="{{ styles.value }}">{{ widget.render({ ref: '/tmpl/controls/checkbox.twig' }, {
name:"checkbox",
checked:checkboxValue,
})  }}  </div>
    </div><div class="{{ styles.field }}">        <div class="{{ styles.label }}">            <span>aaa</span>        </div>        <div class="{{ styles.value }}">{{ widget.render({ ref: '/tmpl/controls/checkbox.twig' }, {
name:"checkbox",
checked:checkboxValue,
})  }}  </div>
    </div><div class="{{ styles.field }}">        <div class="{{ styles.label }}">            <span>aaa</span>        </div>        <div class="{{ styles.value }}">{{ widget.render({ ref: '/tmpl/controls/checkbox.twig' }, {
name:"checkbox",
checked:checkboxValue,
})  }}  </div>
    </div><div class="{{ styles.field }}">        <div class="{{ styles.label }}">            <span>aaa</span>        </div>        <div class="{{ styles.value }}">{{ widget.render({ ref: '/tmpl/controls/checkbox.twig' }, {
name:"checkbox",
checked:checkboxValue,
})  }}  </div>
    </div><div class="{{ styles.field }}">        <div class="{{ styles.label }}">            <span>aaa</span>        </div>        <div class="{{ styles.value }}">{{ widget.render({ ref: '/tmpl/controls/checkbox.twig' }, {
name:"checkbox",
checked:checkboxValue,
})  }}  </div>
    </div><div class="{{ styles.field }}">        <div class="{{ styles.label }}">            <span>aaa</span>        </div>        <div class="{{ styles.value }}">{{ widget.render({ ref: '/tmpl/controls/checkbox.twig' }, {
name:"checkbox",
checked:checkboxValue,
})  }}  </div>
    </div><div class="{{ styles.field }}">        <div class="{{ styles.label }}">            <span>aaa</span>        </div>        <div class="{{ styles.value }}">{{ widget.render({ ref: '/tmpl/controls/checkbox.twig' }, {
name:"checkbox",
checked:checkboxValue,
})  }}  </div>
    </div><div class="{{ styles.field }}">        <div class="{{ styles.label }}">            <span>aaa</span>        </div>        <div class="{{ styles.value }}">{{ widget.render({ ref: '/tmpl/controls/checkbox.twig' }, {
name:"checkbox",
checked:checkboxValue,
})  }}  </div>
    </div><div class="{{ styles.block }}">{{ widget.render({ ref: '/tmpl/controls/button.twig' }, {
blue:true,
text:"Сохранить",
class_name:styles.saveButton,
})  }}</div></div>