<div class="{{ styles.feedbackSuccessWrapper }}">
    <div class="{{ styles.feedbackSuccessImage }}">
        <img src="{{ image_path }}/success.svg" alt="">
    </div>
    <div class="{{ styles.feedbackSuccessText }}">
        {{ text }}
    </div>
</div>